{% extends "registration/base.html" %}

{% block content %}

{% if form.errors %}
<p>您的用户名和密码不匹配,请再试一次。</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>您的帐户无权访问此页,请使用具有访问权限的帐户登录。</p>
    {% else %}
    <p>请登录以查看此页面。</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="登录">
<input type="hidden" name="next" value="{{ next }}">
</form>

{# 假设您在URLCONF中设置密码重置视图 #}
<p><a href="{% url 'password_reset' %}">忘记密码?</a></p>

{% endblock %}