<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>绑定本站账号</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <link rel="stylesheet" href="/static/css/custom-bootstrap.css">
<!--  <link rel="stylesheet" href="/static/css/global.css">-->
  <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>

<body>
<script src="/static/layui/layui.js"></script>
<div class="loginWrap">
  {% include "message.html" %}
  <div class="loginBox">
    <br>
      <h3 style="display: inline;padding:20px;">绑定本站账号</h3>
    <br>
<hr>
    <form action="" method="post">
      {% csrf_token %}
      <div class="layui-form-item">
        <label class="layui-form-label">账号</label>
        <div class="layui-input-block">
          <input type="text" name="username" placeholder="请输入账号" autocomplete="off" class="int layui-input" value="">
        </div>
      </div>
        <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
         <div class="layui-input-block">
          <input class="int layui-input" name="password" placeholder="请输入密码" autocomplete="off" type="password" value="">
         </div>
         </div>
      <div class="layui-form-item" style="padding-left:50px">
        <div class="forget onload">
          <button class="layui-btn" lay-submit lay-filter="formDemo" href="javascript:;">绑 定</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>