<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>测试平台</title>
  <link rel="stylesheet" href="/static/layui/css/layui.css">
<style type="text/css">

li img{width:80px;height:80px}
#menu, #menu li {
font:15px verdana, arial, sans-serif; /* 设置文字大小和字体样式 */
padding:20px; /* 设置内边距 */
float:left; /* 往左浮动 */
line-height:10px; /* 设置行高，将行高和高度设置同一个值，可以让单行文本垂直居中 */
}
#menu p{color:white;
text-align:center;}
</style>

</head>
<body class="layui-layout-body" bgcolor="#191970" >


<div class="layui-layout layui-layout-admin ">

  <div class="layui-header">
    <div class="layui-logo">测试平台</div>
    <ul class="layui-nav layui-layout-right">
      {% if request.user.username in admin_account_list %}
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          {{ request.user }}
        </a>
          <dl class="layui-nav-child">
          <dd><a href="/manage">管理客户端</a></dd>
          <dd><a href="/relation">关联/禁用用户</a></dd>
          </dl>
      </li>

      {% else %}
      <li class="layui-nav-item">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          {{ request.user }}
      </li>
      {% endif %}
      <li class="layui-nav-item"><a href="/logout">退出</a></li>

    </ul>
  </div>

  <div style="position:absolute; height:650px; overflow:auto" class="layui-fluid">
    <!-- 内容主体区域 -->
    <ul id="menu">
    {% for it in results %}
    <li>

      <a href="{{ it.url }}" target="_blank">
        <img src="{{ it.img.url }}"/>
        <p>{{ it.name }}</p>
        </a>
    </li>
      {% endfor %}
      </ul>
  </div>

</div>

<script src="/static/layui/layui.js"></script>


<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
});
</script>




</body>
</html>