<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>注册页面</title>
  <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body>

<!-- 你的HTML代码 -->

<script src="/static/layui/layui.js"></script>
<br>
<h1 style="display: inline;padding:30px;">注册客户端</h1>
<br>
<hr>
<form action="save" method="post" enctype="multipart/form-data">
{% csrf_token %}
<div class="layui-form-item">
  <label class="layui-form-label">客户端名称</label>
  <div class="layui-input-block">
      <input type="text" name="name" required lay-verify="required" placeholder="请输入客户端名称" autocomplete="off" class="layui-input">
  </div>
</div>

<div class="layui-form-item">
  <label class="layui-form-label">登录链接</label>
  <div class="layui-input-block">
    <input type="url" name="url" required lay-verify="required|url" placeholder="请正确输入客户端登录链接(包含协议),如:http://127.0.0.1:8000/" autocomplete="off" class="layui-input">
  </div>
</div>

<div class="layui-form-item">
  <label class="layui-form-label">回调链接</label>
  <div class="layui-input-block">
    <input type="url" name="callback" required lay-verify="required|url" placeholder="请正确输入客户端回调链接(包含协议),如:http://127.0.0.1:8000/callback/" autocomplete="off" class="layui-input">
  </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label">客户端图片</label>
 <input type="file" name="img" required lay-verify="required">
</div>

<div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
</body>
</html>